@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: rgb(56,128,135);
  background: linear-gradient(90deg, rgba(56,128,135,1) 0%, rgba(111,179,184,1) 100%);
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F6F6F2;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(56,128,135);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(111,179,184,1);
}